/* Estilos globales */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background: radial-gradient(circle, #ff00ff, #000); 
  color: #ffffff;
  transition: background-color 0.3s ease; 
  animation: neon-bg 5s ease infinite alternate;
}

@keyframes neon-bg {
  0% {
    background: radial-gradient(circle, #ff00ff, #000);
  }
  100% {
    background: radial-gradient(circle, #ff00ff, #000);
  }
}

/* Estilos para el header */
header {
  background-color: #333;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

nav ul li a.active {
  background-color: #6f20d0; 
}

/* Estilos para el footer */
footer {
  background-color: #333;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-info,
nav,
.social-icons {
  text-align: center;
  margin-bottom: 20px;
}

.social-icons img {
  width: 30px;
  margin: 0 10px;
}
