<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Store - Inicio</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="js/news.js" defer></script>
</head>
<body>
    <header>
        <div class="header-content container">
            <img src="../images/icon.png" alt="One Store Logo" class="header-logo">
            <h1>One Store</h1>
            <nav>
                <ul>
                    <li><a href="index.html" class="active">Inicio</a></li>
                    <li><a href="../views/galeria.html">Galería</a></li>
                    <li><a href="../views/presupuesto.html">Presupuesto</a></li>
                    <li><a href="../views/contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>