body {
    background-color: rgb(225, 217, 146);
}

footer {
    background-color: rgb(51, 51, 51);
    height: 50px;
    color: aliceblue;
    background-color: #333029;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}


body,
html {
    margin: 0%;
}

.read1 {
    color: aliceblue;
    text-align: right;

    font-size: 20px;
}


.line {
    height: 2px;
    background-color: rgb(225, 232, 21);
    margin: 10%;
}




/* cotnenido */

.but1 {
    font-size: 15px;
    font-family: Arial;
    width: 140px;
    height: 50px;
    color: rgb(255, 255, 255);
    border-color: #333029;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(102, 50, 0);
}

.but1:hover {
    background-color: rgb(239, 116, 0)
}



.box img {
    width: 100%;

}

.box2 {
    background-color: rgba(100, 151, 22);
    width: 500px;
    padding-bottom: 50px;
    margin: 30px;
    padding: 1%;

}

.textgreen {
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: left (20px) ;
}



.yellow {
    color: rgb(201, 212, 108);
    font-size: 30px;
    justify-content: flex-start;
    text-align: left;
}


.xd {

    background-color: rgb(233, 251, 206);
    height: 1px;
    margin: 1%s;

}



.link-container {

    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    background-color: rgb(51, 51, 51);
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    padding: 0 15px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    color: white;
    border-color: rgb(51, 51, 51);
    border-style: none;
}

.navbar a:hover {
    background-color: rgb(6, 168, 109);
}

.box {

    background-color: rgba(255, 255, 255);
    text-align: center;
    padding-bottom: 50px;
    margin: 30px;
    width: 500px;

}



.boxp {
    display: flex;
    flex-direction: row;

}

.centertx {
    padding: 2%;
}

.text1 {
    text-align: left;
}