<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One piece store</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="img/logo one.png" alt="Logo de la tienda">
            </div>
            <nav>
                <ul>
                    <li><a href="productos.html">Nuestros Productos</a></li> 
                    <li><a href="contacto.html">Contacta con nosotros</a></li>
                    <li><a href="presupuesto.html">Solicita Presupuestos</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section>
            <h2>¡Bienvenido a nuestra tienda de ropa inspirada en One Piece!</h2>
            <p>En nuestro mundo de la moda, nos sumergimos en el vibrante universo de One Piece para traerte una
                colección única y emocionante que refleja la esencia y la aventura de este legendario manga y anime.

                Imagina vestirte con prendas que capturan la audacia de Luffy, la elegancia de Nami y la fuerza de Zoro.
                Desde camisetas estampadas con icónicos símbolos de la tripulación del Sombrero de Paja hasta sudaderas
                con diseños que rinden homenaje a momentos épicos de la serie, cada pieza de nuestra colección está
                cuidadosamente diseñada para transportarte al vasto y emocionante mundo de One Piece.

                Nuestros productos no solo son una declaración de estilo, sino también una celebración de la
                camaradería, la valentía y la aventura que define a One Piece. Ya sea que estés navegando por los mares
                del Grand Line o explorando las islas del Nuevo Mundo, nuestra ropa te acompañará en cada paso del
                viaje, recordándote siempre la importancia de perseguir tus sueños con determinación y coraje.

                Únete a nosotros mientras exploramos las fronteras de la moda inspirada en el anime y llevamos contigo
                un pedazo del emocionante mundo de One Piece. ¡Descubre tu estilo pirata hoy mismo con nuestra exclusiva
                colección!

                ¡Zarpa hacia la aventura con nuestra ropa de One Piece!</p>
        </section>

        <section id="servicios">
            <h2>Nuestros Servicios</h2>
            <ul>
                <li>Venta de ropa inspirada en One Piece</li>
                <li>Venta de artículos coleccionables de One Piece</li>
            </ul>
        </section>

        <section id="noticias">
            <h2>Últimas Noticias</h2>
            <p>Últimas actualizaciones y noticias de la empresa.</p>
        </section>
    </main>

</body>

</html>
