<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Piece Store</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <header>
        <div class="container">
            <div class="logo">
                <img src="img/logo one.png" alt="Logo de la tienda One Piece">
            </div>
            <nav>
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="#servicios">Nuestros Servicios</a></li>
                    <li><a href="#noticias">Últimas Noticias</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section>
            <h2>Nuestros Productos</h2>
            <div class="gallery">
                <div class="item">
                    <div class="product-box">
                        <img src="img/camisa1.png" alt="Producto 1">
                        <h3>Camiseta Monkey D. Luffy</h3>
                        <p>"Camisa 'Luffy's Adventure': Con diseño vibrante inspirado en Monkey D. Luffy de One Piece.
                            Tejido suave y duradero, detalles de alta calidad y estilo versátil. Perfecta para fans de la
                            serie. ¡Embárcate en una aventura pirata con esta camisa imprescindible! Tallas: S, M, L, XL."
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="product-box">
                        <img src="img/cosplay1.png" alt="Producto 2">
                        <h3>Cosplay de Luffy</h3>
                        <p>"¡Cosplay de Luffy, el valiente capitán de los Piratas del Sombrero de Paja! Detalles auténticos
                            inspirados en el personaje, incluyendo su icónico sombrero de paja y chaleco rojo. Hecho con
                            materiales de alta calidad para un ajuste cómodo y duradero. Perfecto para convenciones, fiestas
                            temáticas y eventos cosplay. Tallas disponibles: S, M, L, XL."</p>
                    </div>
                </div>
                <div class="item">
                    <div class="product-box">
                        <img src="img/gomu gomu.png" alt="Producto 3">
                        <h3>Funda para AirPods</h3>
                        <p>"Funda para AirPods con diseño de la Fruta Gomu Gomu de One Piece. Inspirada en el poder elástico
                            de Luffy, esta funda protege tus AirPods con estilo y diversión. Hecha de silicona de alta
                            calidad para una protección duradera. ¡Lleva contigo el espíritu de la piratería con estas
                            fundas únicas para tus AirPods!"</p>
                    </div>
                </div>
                <div class="item">
                    <div class="product-box">
                        <img src="img/sombrero1.png" alt="Producto 4">
                        <h3>Sudadera Sombrero de Paja</h3>
                        <p>"Sombrero de Paja de Luffy: Réplica exacta del emblemático sombrero usado por Monkey D. Luffy en
                            One Piece. Confeccionado con materiales de alta calidad para mayor durabilidad y comodidad.
                            Perfecto para completar tu cosplay de Luffy o para mostrar tu amor por la serie. ¡Únete a la
                            tripulación del Sombrero de Paja con este icónico accesorio!"</p>
                    </div>
                </div>
                <div class="item">
                    <div class="product-box">
                        <img src="img/sudadera.png" alt="Producto 5">
                        <h3>Sudadera Sombrero de Paja</h3>
                        <p>"Únete a la tripulación con estilo con esta sudadera inspirada en One Piece. Con diseño de la
                            bandera de los Piratas del Sombrero de Paja en el pecho y el emblema de Luffy en la espalda.
                            Fabricada con tejido suave y cálido para mayor comodidad. ¡Prepárate para navegar hacia
                            aventuras emocionantes con esta sudadera imprescindible!"</p>
                    </div>
                </div>
                <div class="item">
                    <div class="product-box">
                        <img src="img/sudadera2.png" alt="Producto 6">
                        <h3>Sudadera de One Piece</h3>
                        <p>"Únete a la tripulación con estilo con esta sudadera inspirada en One Piece. Con diseño de la
                            bandera de los Piratas del Sombrero de Paja en el pecho y el emblema de Luffy en la espalda.
                            Fabricada con tejido suave y cálido para mayor comodidad. ¡Prepárate para navegar hacia
                            aventuras emocionantes con esta sudadera imprescindible!"</p>
                    </div>
                </div>
                <div class="item">
                    <div class="product-box">
                        <img src="img/usooo figura.png" alt="Producto 7">
                        <h3>Figura de Usopp</h3>
                        <p>"El tirador estrella de los Piratas del Sombrero de Paja. Detalles meticulosos que capturan su
                            valentía y astucia. Esculpida con precisión y pintada a mano para un realismo impresionante.
                            Añade a Usopp a tu colección de One Piece y revive sus hazañas más épicas con esta figura de alta
                            calidad."</p>
                    </div>
                </div>
                <div class="item">
                    <div class="product-box">
                        <img src="img/usop.png" alt="Producto 8">
                        <h3>Cosplay de Usopp</h3>
                        <p>"¡Conviértete en el astuto tirador de los Piratas del Sombrero de Paja con este increíble
                            cosplay de Usopp! Incluye su característico sombrero, camisa a rayas, pantalones cortos y
                            accesorios emblemáticos. Hecho con materiales de alta calidad para un ajuste cómodo y auténtico.
                            ¡Prepárate para emular las aventuras de Usopp con este cosplay impresionante!"</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>

</html>
