body {
    background-color: aqua;
    display: flex;
 
}
button {
    font-size: 15px;
    font-family: Arial;
    width: 140px;
    height: 50px;
    border-width: 2px;
    color: rgb(255, 255, 255);
    border-color: #333029;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(102, 50, 0);
}
#caja1 {
    background-color: rgba(255, 255, 255);
    text-align: center;
    width: 500px;
    padding-bottom: 50px;
    margin: 30px;
}

hr {
    height: 2px;
    width: 400px;
    color: rgb(235, 233, 218);
}
p {
    text-align: justify;
    padding: 20px;
    margin: auto;
    width: 50%;
}
#caja1 img{
    width: 100%;
    margin-top: 0;
}

#caja2 {
    background-color: rgba(100, 151, 22);
    text-align: left;
    width: 500px;
    padding-bottom: 50px;
    margin: 30px;

}

#textovrvd{
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 10px;
    text-align: left;
    padding-left: 10%;
}

#ama{
    color: rgb(201, 212, 108);
    font-size: 30px;
    text-align: left;
    padding-right: 170px;
    
}

h5{
    color: white;
    text-align: right;
    padding-right: 10%;
   
}
#xd{
    color: rgb(101, 149, 27);
    background-color:rgb(101, 149, 27);
    height: 2px;
    width: 400px;
 
}
    