body {
    background-color: aqua;
    flex-direction: column;
}

.but1 {
    font-size: 15px;
    font-family: Arial;
    width: 140px;
    height: 50px;
    color: rgb(255, 255, 255);
    border-color: #333029;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(102, 50, 0);
}

hr {
    height: 2px;
    width: 400px;
    color: rgb(235, 233, 218);
}

p {
    text-align: justify;
    padding: 20px;
    margin: auto;
    width: 50%;
}

.caja img {
    width: 100%;
    margin-top: 0;
}

.caja2 {
    background-color: rgba(100, 151, 22);
    text-align: left;
    width: 500px;
    padding-bottom: 50px;
    margin: 30px;

}

.textovrvd {
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 10px;
    text-align: left;
    padding-left: 10%;
}

.ama {
    color: rgb(201, 212, 108);
    font-size: 30px;
    text-align: left;
    align-items: flex-end;
}

h5 {
    color: white;
    text-align: right;
    text-align: right;
    align-items: flex-end;

}

.xd {
    color: rgb(101, 149, 27);
    background-color: rgb(101, 149, 27);
    height: 2px;
    width: 400px;

}

header {
    background-color: rgb(51, 51, 51);
    height: 100%;
    align-items: center;
    color: aliceblue;

}


a {
    text-decoration: none;
    color: aliceblue;
}

.but {
    background-color: rgb(51, 51, 51);
    color: white;
    border-color: rgb(51, 51, 51);
    border-style: none;
    width: 50vh;
    height: 50px;
}


.caja {

    background-color: rgba(255, 255, 255);
    text-align: center;
    width: 500px;
    padding-bottom: 50px;
    margin: 30px;
}

.but:hover {
    background-color: rgb(6, 168, 109);
}


.aba {
    background-color: rgb(51, 51, 51);
    height: 90px;
    color: aliceblue;
    background-color: #333029;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.cajap {
    display: flex;
    flex-direction: row;
}