
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}


nav {
    background-color: #444;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 1em;
    display: block;
}


section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}


nav a[href="login.html"] {
    background-color: #ff3333;
    border-radius: 5px;
}


section form {
    display: flex;
    flex-direction: column;
}

section form label {
    margin-bottom: 0.5em;
}

section form input,
section form textarea {
    margin-bottom: 1em;
    padding: 0.5em;
}

section form button {
    background-color: #333;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
}
